title Calendar Generator | Parsuli
link(rel="stylesheet", type="text/css", href="css/style.css")
link(rel="icon", href="assets/favicon.png")
script(type="application/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(type="application/javascript", src="//cdn.jsdelivr.net/gh/par5ul1/barjste@1.0.0/src/barjste.jquery.min.js")
script(type="application/javascript", src="js/index.js")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

if (!req.session.user || !req.session.user.token)
  #privacy.center
    span(style="position: absolute; top:3%; right: 3%; cursor: pointer" onclick="$('#privacy').css({opacity: 0, visibility: 'hidden'})") ✕
    p I am not a lawyer and do not know what Europe wants from me but there is a thing called GDPR and I need to respect it. Basically, I need to make sure you know what information you are giving me and what I will do with it, so here it goes:
    br
    p I ask you to log in so that I can grab your e-mail address. Once I have that, I will create an account based on your e-mail and when you tell me what classes you have, I keep them under you profile. Then, I generate a calendar with that information and I save it. That means that I can update your calendar every day, automatically, so if anything ever goes wrong with the program, I can fix it and everyone is happy (e.g. there is a snow day and the days shift). Oh, I also keep your name to make the website more interactive (by saying things like "Hi, Jon"). Anyways, if you don't want to use the app after having read the above, no hard feelings.
    br
    p Since you decided to stick around this long, #[a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank") here] is something to cheer you up.
  #hero
    .center
      h1 Hi there!
      h3
        | Before creating your calendar, I need to kindly ask you to log in with 
        a(href="/auth")
          span(style="color: #4885ed;") G
          span(style="color: #db3236;") o
          span(style="color: #f4c20d;") o
          span(style="color: #4885ed;") g
          span(style="color: #3cba54;") l
          span(style="color: #db3236;") e
        |  as this allows me to keep your calendar up to date. Once you log in, you will be redirected back so you can add your classes.
    a(onclick="$('#privacy').css({opacity: 1, visibility: 'visible'})" style="position: absolute; bottom: 5%; left: 50%; transform: translate(-50%, 0); cursor: pointer;") Privacy Stuff
else
  .fullscreen
    span.progress
    form(method="POST")
      #welcome.center(style="position: fixed;")
        h2 Great, you're all logged in. Just click next and let me know what classes you have.
        p (HINT: You can navigate the form by pressing left/right arrow keys)
        button.button(onclick="scrollDiv('#welcome', '#p0', 'next'); return false", style='margin:5px;') Next
        
      #p0.center(style="position: fixed; left: 200%")
        h2 To start off, are you a senior?
        p (If you are but not IB, select "No")
        input.checkbox(type='checkbox' name="senior" value="true")
        label No/Yes
        br
        button.toggle(onclick="$(this).toggleClass('isToggled');\
        $('#p0 .checkbox').attr('checked', $(this).hasClass('isToggled'));\
        $('.isHL').css('display', $(this).hasClass('isToggled') ? 'initial' : 'none');\
        $('#p8 .text-box').attr('value', $(this).hasClass('isToggled') ? 'DP Flex' : '');\
        $('#p8 .text-box').attr('readonly', $(this).hasClass('isToggled'));\
        return false")
          div
        br
        
        button.button(onclick="scrollDiv('#p0','#p1','next'); return false", style='margin:5px;') Next
        
      each period, index in ["p1","p2","p3","p4","p5","p6","p7","p8"]
        div(id=period style="position: fixed; left: 200%").center
          h2 What do you have #{["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth"][index]} period?
          br
          div(style="text-align: left")
            label(for='classes['+period+'][value][s1]') First semester
            input.text-box(type='text', name='classes['+period+'][value][s1]', autocomplete='off')
            br
            label(for='classes['+period+'][value][s2]') Second semester (leave blank if same as above)
            input.text-box(type='text', name='classes['+period+'][value][s2]', autocomplete='off')
          br
          
          if period !== "p8"
            input.checkbox(type='checkbox' name="classes["+period+'][hl]' value="true")
            label.isHL(style="display: none") HL
            br(class="isHL" style="display:none")
            button.isHL.toggle(onclick="$(this).toggleClass('isToggled');\
            $('#"+period+" .checkbox').attr('checked', $(this).hasClass('isToggled'));\
            return false" style="display: none")
              div
            br(class="isHL" style="display:none")
              
            br(class="isHL" style="display:none")
              
            button.button(onclick="scrollDiv('#p"+index+"','#p"+(index+1)+"','back');\
            return false", style='margin:5px;') Back
            button.button(onclick="scrollDiv('#"+period+"','#"+period[0]+(index+2)+"','next');\
            return false", style='margin:5px;') Next
          else
            button.button(onclick="$('#p"+index+"').css('left', '50%');\
            $('#p"+(index+1)+"').css('left', '300%');\
            $('.progress').width('"+((index+1)*100/9+1)+"vw');\
            return false", style='margin:5px;') Back
            input(type="submit" class="button" value="Sumbit" style='margin:5px;' onclick="$('.overlay').addClass('visible')")
section.overlay
  div.center
    h1.pacman YOUR calendar IS being BUILT
    br
    h1.pacman please WAIT
    br
    img(src="assets/pacman.svg", alt="")
